@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
button {
  border: none;
}

/* giving height 100vh will ensure footer sticks at the bottom. Footer is taking margin-top auto */
#__next{ 
  display:flex; 
  flex-direction:column; 
  min-height: 100vh;
}